body,
html,
* {
    padding: 0;
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
}
body{
    background-color: #01abe6 ;
}
.card {
  width: 30%;
  height: 40rem;
  margin: 3rem 0;
  border: 2px solid;
  border-radius: 10px;
  background-color: #f82f6e;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-color: #fab39c;
  transition:0.3s
}
.container {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    border-color: #fab39c;
  
}
.card-img {
  width: 50%;
  height: 40rem;
  margin: 3rem auto;
  border: 2px solid;
  border-radius: 10px;
  border-color: #fab39c;
}
.card-header {
  font-size: 40px;
}
.card-price {
  font-size: 30px;
}
h1{
  font-size: 40px;
  text-align: center;
}

@media screen and (max-width:800px){
  .container{
    flex-direction: column;
  }
  .card{
    width:100%
  }

}
.card:hover{
  transform: scale(1.1);
}