body,
html,
* {
    padding: 0;
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
    font-family: Caveat Brush, cursive;
}
body{
    background-color: #293e66;
}
.card {
  width: 30%;
  height: 40rem;
  margin: 3rem 0;
  border: 10px solid;
  border-radius: 10px;
  background-color: #8fc3e6;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-color: #80b3e3;
  transition:0.3s
}
.container {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-color: #80b3e3;
}
.card-img {
  width: 50%;
  height: 60%;
  margin: 3rem auto;
  border: 2px solid;
  border-radius: 10px;
  border-color: #5d392b;
}
.card-header {
  font-size: 40px;
}
.card-price {
  font-size: 30px;
}
h1{
  font-size: 40px;
  text-align: center;
  color: #8fc3e6;
}

@media screen and (max-width:800px){
  .container{
    flex-direction: column;
  }
  .card{
    width:100%
  }

}
/* .card:hover{
  transform: scale(1.1);
} */
h2{
  color: #293e66;
}
h3{
  color: #293e66;
}
.tab{
  font-size: 40px;
  text-align: center;
  margin: 5rem;
  border: 2px solid;
  border-radius: 10px;
  border-color: #293e66;
}